html,
body {
  height: 100%;
  font-family: 'Aileron';
  font-weight: 600;
  font-size: 18pt;
}

.pageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    text-align: center;
    
}

input {
    border: none;
    font-family: 'Aileron';
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
}

input[type=text]:focus {
    outline:none !important;
    text-align: center;
}

.hot{
    color: #BA4C15;
    font-weight: 800;
}

.cold{
    color: #166CD7;
    font-weight: 800;
}

.size{
    color: #8256DC;
    font-weight: 800;
}

.correct {
    color: #217E3B;
    font-weight: 800;
}

.incorrect {
    color: #CD2534	;
    font-weight: 800;
}

.question_var {
    font-weight: 800;
}






.underline {
    display: inline-block;
    position: relative;
    color: black;
  }
  
.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    }

.underline::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}