html,
body {
  height: 100%;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 1rem;
}

.pageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    height: 50%;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.317);
    animation-name: loadTransition;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

input {
    border: none;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    background: none;
}

input[type=text]:focus {
    outline:none !important;
    text-align: center;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 150%;
}

.hot{
    color: #EF8929;
    font-weight: 900;
}

.cold{
    color: #26A0F4;
    font-weight: 900;
}

.size{
    color: #6E6EEF;
    font-weight: 900;
}

.question_var {
    color: #01B8A2;
    font-style: oblique;
    font-weight: 900;
}

.enter {
    font-weight: 900;
    font-style: oblique;
}

@keyframes loadTransition {
    0% {width: 25%; height: 0%; opacity: 0%; transform: translateY(50px);}
    25% {width: 25%; height: 0%; opacity: 100%; transform: translateY((0%));}
    40% {width: 50%; height: 0%;}
    50% {width: 50%; height: 0%;}
    100% {width: 50%; height: 50%}
}